body {
    display: flex;
    background: beige;
    justify-content: center;
}
.calculatrice {
    background: pink;
    padding: 10px;
    border-radius: 10px;
}
.buttons {
    display: grid;
    grid-template-columns: repeat(4,40px);
    gap: 0.2em;
}
.button, .oper, .egal {
    width: 40px;
    height: 40px;
    border-radius: 9px;
}
.supprimer {
    width: 170px;
    height: 40px;
    background-color: rgb(231, 106, 106);
    border-radius: 9px;
}
.oper {
    background-color: rgb(250, 154, 110);
}
.button {
    background: rgb(201, 197, 197);
}
#egal {
    background: cadetblue;
}
#Affichage {
    background: black;
    border-radius: 5px;
    color: aliceblue;
    font-size: 2em;
    text-align: right;
}